/* Mulai code Anda dari baris terakhir */

* {
  box-sizing: border-box;
}

html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
  height: 100px;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 150px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.726)),
    url("image/mask.jpg");
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

header {
  height: 90px;
  width: 100%;
  background-color: rgba(12, 12, 12, 0.438);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 0px;
}

.header-left {
  float: left;
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-left p {
  line-height: 65px;
  padding: 15px 2px;
  color: white;
  display: block;
  float: right;
  animation-name: example;
  animation-duration: 14s;
}

@keyframes example {
  0% {
    color: red;
  }
  25% {
    color: white;
  }
  50% {
    color: red;
  }
  100% {
    color: white;
  }
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 15px 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.062);
}

span.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
}

.kolom .deskripsi {
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Grande";
  color: #364f6b;
}

h2 {
  font-family: "Lucida Grande";
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}

a.tbl-biru {
  background: #3f72af;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-biru:hover {
  background: #fc5185;
  text-decoration: none;
}

a.tbl-pink {
  background: #fc5185;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-pink:hover {
  background: #3f72af;
  text-decoration: none;
}

p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

.tengah {
  text-align: center;
  width: 100%;
}

.edukasi-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.materi-edukasi {
  width: 20%;
  margin: 0 auto;
}

.materi-edukasi img {
  width: 80%;
  border-radius: 50%;
}

.materi-edukasi p {
  font-family: "Lucida Grande";
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  color: #364f6b;
}

section {
  display: block;
}
/* revisi */
.container1, .edukasi-list {
  width: 100%;
  padding: 20px;
  margin: 100px auto;
  background: #ffffff;
  box-sizing: border-box;
}

.lessons {
  width: 100%;
  padding: 20px;
  margin: 100px auto;
  box-sizing: border-box;
}

/* revisi */
.box, .box1, .box2, .box3 {
  float: left;
  width: 25%;
  height: 145px;
  background: #686de0;
  margin: 0px auto;
  transition: 1s;
  box-sizing: border-box;
}
/* revisi */
.box:hover, .box1:hover, .box2:hover, .box3:hover {
  transform: scale(1.3);
  z-index: 2;
  box-shadow: 2px 2px 2px #000;
}

.box1 {
  background: #f9ca24;
}

.box2 {
  background: #22a6b3;
}

.box3 {
  background: #eb4d4b;
}

.heading {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.lesson-wrapper {
  padding-bottom: 120px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(7, 6, 6, 0.897);
  text-align: center;
}

.heading {
  padding-top: 10px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
  color: white;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}
.logo {
  width: 124px;
  margin-top: 0px;
}
